
<div class="container wrapper">
  <div class="row head_wrap">
    <button (click)="checkEmployees()">check</button>
    <h2>Company employees</h2>
    <button type="button" mat-raised-button (click)="openForm()" class="btn btn-success">Add employee</button>
  </div>
  <div class="first_row">
    <div class="col-1">№</div>
    <div class="col-7">ФИО</div>
    <div class="col-2">Дата рождения</div>
    <div class="col-2">Должность</div>
  </div>
  <ul class="list-group list_height">
    <li *ngFor="let employee of employees; let index = index"
        class="content_row__wrapper"
        [ngStyle] = "{'backgroundColor': (index % 2 === 0) ? '#efefef' : '#ffffff'}">
      <app-row-employee
          [routerLink]="['/info', index]"
          class="content_row__data"
          [data]="employee"
          [index]="index">
      </app-row-employee>
    </li>
  </ul>
</div>
