<div class="info_wrapper">
  <div class="info_back" (click)="goBack()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </div>
  <!-- -->
  <div class="info_photo" [ngStyle]="{'background': (employee.image) ? 'transparent' : '#d2dfployef7'}">
    <i *ngIf="employee.image" class="fa fa-circle-o-notch fa-spin fa-3x fa-fw info_spin"></i>
    <i *ngIf="!employee.image" class="fa fa-camera info_camera" aria-hidden="true"></i>
    <img *ngIf="employee.image" class="info_image" [src]="urlImage.url" alt="">
  </div>
  <div class="info_mainBox">
    <div class="info_name">
      <h3> {{employee.surName}} {{employee.firstName}} <br> {{employee.patronymic}}</h3>
    </div>
    <div class="info_other">
      <div class="info_date">
        Дата рождения: {{parseDate(employee.dateOfBirth)}}
      </div>
      <div class="info_position">
        Должность: {{employee.position}}
      </div>
      <div class="info_state">
        Статус: {{employee.state}}
      </div>
      <div *ngIf="employee.comment" class="info_comment">
        Комментарии: {{employee.comment}}
      </div>
    </div>
    <div class="info_buttons">
      <button type="button" class="btn btn-warning" (click)="openForm()">Изменить</button>
      <button type="button" class="btn btn-danger" (click)="askDelete()">Удалить</button>
    </div>
  </div>
</div>
