.info_wrapper {
  display: flex;
  width: 550px;
  margin: 50px auto 0;
  border: 1px solid #babaa6;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.info_photo {
  background: #d2dff7;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-top: 40px;
  border: 2px solid #5754f717;
  position: relative;
}

.info_spin {
  font-size: 48px;
  display: block;
  color: #212153c9;
  position: absolute;
  top: 35%;
  left: 30%;
  z-index: -1;
}

.info_camera {
  font-size: 48px;
  display: block;
  color: #212153c9;
  position: absolute;
  top: 35%;
  left: 33%;
}

.info_image {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 1;
}

.info_mainBox {
  text-align: center;
  margin-top: 10px;
}

.info_name {
  text-align: center;
}

.info_back {
  position: absolute;
  font-size: 30px;
  top: 10px;
  left: 24px;
  cursor: pointer;
}

.info_back:hover {
  top: 12px;
}

.info_buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 50px;
  flex-basis: 50%;
}

