.appForm{
  width: 90%;
  margin: 0 auto;
}

.form_buttons {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-around;
}

.form_buttons > button {
  display: block;
  width: 35%;
}

.form_buttons_photo {
  width: 100%;
  margin: 10px auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-around;
}

.form_buttons_photo > button {
  display: block;
  line-height: 28px;
}

.form_photo {
  display: flex;
  margin-bottom: 0;
  justify-content: space-around;
  flex-basis: 100%;
}

.form_photo > * {
  display: block;
}

.form-row_flex {
  justify-content: space-around;
  margin-bottom: 14px;
}

input.ng-invalid.ng-touched {
  border: 1px #ff0052 solid;
}

input.ng-invalid.ng-touched:focus {
  border: transparent 1px solid;
}

.form_alert {
  padding-left: 15px;

}
