
<form class="appForm" #form="ngForm" #formTag>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="form_surName">Фамилия</label>
      <input required type="text" class="form-control" id="form_surName" (input)="viewAlertMessage()" #surNameInput="ngModel" pattern="^[А-Яа-яЁё\-]+$" placeholder="Фамилия" [ngModel]="defaultSurName" name="surName" >
    </div>
    <div class="form-group col-md-4">
      <label for="form_firstName">Имя</label>
      <input required type="text" class="form-control" id="form_firstName" (input)="viewAlertMessage()" #nameInput="ngModel" placeholder="Имя" pattern="^[А-Яа-яЁё\-]+$" [ngModel]="defaultFirstName" name="firstName">
    </div>
    <div class="form-group col-md-4">
      <label for="patronymic">Отчество</label>
      <input required type="text" class="form-control" id="patronymic" (input)="viewAlertMessage()" #patronymicInput="ngModel" placeholder="Отчетство" pattern="^[А-Яа-яЁё\-]+$" [ngModel]="defaultPatronymic" name="patronymic">
    </div>
  </div>
  <p class="form_alert" *ngIf="alertMessageState">Нельзя вводить цифры, символы (кроме "-"), латинские буквы.</p>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="form_position">Должность</label>
      <select required id="form_position" class="form-control" [ngModel]="defaultPosition || 'Вратарь'" name="position">
        <option value="Вратарь">Вратарь</option>
        <option value="Защитник">Защитник</option>
        <option value="Полузащитник">Полузащитник</option>
        <option value="Нападающий">Нападающий</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="form_dateOfBirth">Дата рождения</label>
      <input required type="date" max="2018-01-01" class="form-control" id="form_dateOfBirth" [ngModel]="defaultDateOfBirth" name="dateOfBirth">
    </div>
    <div class="form-group col-md-4">
      <label for="form_state">Статус</label>
      <select required id="form_state" class="form-control" [ngModel]="defaultState || 'Работает'" name="state">
        <option selected value="Работает">Работает</option>
        <option value="Уволен">Уволен</option>
      </select>
    </div>
  </div>

  <div class="form_buttons_photo" *ngIf="defaultImage">
    <button type="button" (click)="updatePhoto()" class="btn btn-secondary">Обновить фотографию</button>
    <button type="button" (click)="askDeleteImage()" class="btn btn-danger">Удалить фотографию</button>
  </div>

  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="form_comments">Комментарии</label>
      <input type="text" class="form-control" id="form_comments" placeholder="Необязательно" [ngModel]="defaultComment" name="comment">
    </div>
  </div>

  <div class="form-row form-row_flex" *ngIf="!defaultImage">
    <div class="form-group form_photo">
      <p>Добавить фотографию:</p>
      <input type="file" ngModel name="imageState" (change)="selectedPicture($event)" accept="image/jpeg,image/png">
    </div>
  </div>

  <div class="form_buttons">
    <button *ngIf="!data.edit" type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="addEmployee()">Добавить</button>
    <button *ngIf="data.edit" type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="editEmployee()">Сохранить</button>
    <button (click)="closeForm()" type="reset" class="btn btn-secondary">Отменить</button>
  </div>
</form>
