
<form class="appForm" #form="ngForm" #formTag>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="form_firstName">Имя</label>
      <input [value]="'dasdada'" required type="text" class="form-control" id="form_firstName" placeholder="Имя" ngModel name="firstName">
    </div>
    <div class="form-group col-md-4">
      <label for="form_surName">Фамилия</label>
      <input required type="text" class="form-control" id="form_surName" placeholder="Фамилия" ngModel name="surName">
    </div>
    <div class="form-group col-md-4">
      <label for="patronymic">Отчество</label>
      <input required type="text" class="form-control" id="patronymic" placeholder="Отчетство" ngModel name="patronymic">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="form_position">Должность</label>
      <select required id="form_position" class="form-control" ngModel name="position">
        <option selected>Вратарь</option>
        <option>Защитник</option>
        <option>Полузащитник</option>
        <option>Нападающий</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="form_dateOfBirth">Дата рождения</label>
      <input required type="date" class="form-control" id="form_dateOfBirth" ngModel name="dateOfBirth">
    </div>
    <div class="form-group col-md-4">
      <label for="form_state">Статус</label>
      <select required id="form_state" class="form-control" ngModel name="state">
        <option selected>Работает</option>
        <option>Уволен</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="form_comments">Комментарии</label>
      <input type="text" class="form-control" id="form_comments" placeholder="Необязательно" ngModel name="comment">
    </div>
  </div>

  <div class="form_buttons">
    <button *ngIf="!data.edit" type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="addEmployee()">Sign in</button>
    <button *ngIf="data.edit" type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="editEmployee()">Save</button>
    <button (click)="closeForm()" type="reset" class="btn btn-secondary">Cancel</button>
  </div>
</form>
